<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <!--DEV -->
    <add name="ApplicationServices" connectionString="Data Source=ocio-fc10-sql01.ad.monash.edu;Initial Catalog=MNHS-Registry-BSR-DEV;User ID=app_user_bsr;Password=G0dSaveTheQueen" providerName="System.Data.SqlClient"/>
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ocio-fc10-sql01.ad.monash.edu;initial catalog=MNHS-Registry-BSR-DEV;persist security info=True;user id=app_user_bsr;password=G0dSaveTheQueen;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--TEST 
    <add name="ApplicationServices" connectionString="Data Source=ocio-fc11-sql01.ad.monash.edu;Initial Catalog= MNHS-Registry-BSR-TEST;User ID=app_user_bsr;Password=A9p(s6r6sr#" providerName="System.Data.SqlClient" />
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ocio-fc11-sql01.ad.monash.edu;initial catalog=MNHS-Registry-BSR-TEST;persist security info=True;user id=app_user_bsr;password=A9p(s6r6sr#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />		
   -->

    <!--UAT 
    <add name="ApplicationServices" connectionString="Data Source=ocio-fc11-sql01.ad.monash.edu;Initial Catalog=MNHS-Registry-BSR-UAT;User ID=app_user_bsr;Password=A9p(s6r6sr#" providerName="System.Data.SqlClient" />
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ocio-fc11-sql01.ad.monash.edu;initial catalog=MNHS-Registry-BSR-UAT;persist security info=True;user id=app_user_bsr;password=A9p(s6r6sr#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

    <!--Live 
    <add name="ApplicationServices" connectionString="Data Source=FC33-DBPRDCRTI1;Initial Catalog=MNHS-Registry-BSR;User ID=app_user_bsr;Password=H0me@ndAway" providerName="System.Data.SqlClient" />
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FC33-DBPRDCRTI1;initial catalog=MNHS-Registry-BSR;persist security info=True;user id=app_user_bsr;password=H0me@ndAway;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

  </connectionStrings>


  <appSettings>
    <!--<add key ="localXLFilePath" value ="D:\\BSR\\Task\\Test_Follow_Up_Email_Batch\\XL_Sheets\\"/>-->
    <!-- Test Location on Live Database Server-->
    <!--<add key ="localXLFilePath" value ="D:\BSR\Task\Test_Follow_Up_Email_Batch\XL_Sheets\"/>-->
    <!-- Live Location on Live Database Server-->
    <add key ="localXLFilePath" value ="D:\BSR\Task\Live_Follow_Up_Email_Batch\XL_Sheets\"/>
    <!--Location on Development-->
    <!--<add key ="localXLFilePath" value ="C:\Projects\"/>-->
    <add key ="xlFileExtn" value =".xls"/>
    <add key ="sftpUserName" value ="bsraccess"/>
    <add key ="sftpPassword" value ="fRAqepaW8pra"/>
    <add key ="sftpHostName" value ="130.194.20.62"/>
    <add key ="sftpFilePath" value ="../../../D/BSR/BSR_Data/"/>
    <!--<add key ="sftpFilePath" value ="../../../D/TEMP/BSR_Test/"/>-->
    <add key ="SshHostKeyFingerprint" value = "ssh-dss 1024 5c:2b:68:10:39:51:e8:48:16:85:6f:d1:e0:3b:31:e8"/>

  </appSettings >

</configuration>