IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Complications]') AND type in (N'U'))
ALTER TABLE [dbo].[tbl_Complications] DROP CONSTRAINT IF EXISTS [FK_tbl_Complications_tlkp_Procedure_ProcedureId]
GO
/****** Object:  Table [dbo].[tbl_Complications]    Script Date: 13-11-2017 03:24:50 PM ******/
DROP TABLE IF EXISTS [dbo].[tbl_Complications]
GO
/****** Object:  Table [dbo].[tbl_Complications]    Script Date: 13-11-2017 03:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Complications]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Complications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcedureId] [int] NULL,
	[ComplicationId] [int] NULL,
 CONSTRAINT [PK_tbl_Complications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tbl_Complications_tlkp_Procedure_ProcedureId]') AND parent_object_id = OBJECT_ID(N'[dbo].[tbl_Complications]'))
ALTER TABLE [dbo].[tbl_Complications]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Complications_tlkp_Procedure_ProcedureId] FOREIGN KEY([ProcedureId])
REFERENCES [dbo].[tlkp_Procedure] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tbl_Complications_tlkp_Procedure_ProcedureId]') AND parent_object_id = OBJECT_ID(N'[dbo].[tbl_Complications]'))
ALTER TABLE [dbo].[tbl_Complications] CHECK CONSTRAINT [FK_tbl_Complications_tlkp_Procedure_ProcedureId]
GO
