/****** Object:  Table [MONASH\jigyasas].[Bariatric Procedures]    Script Date: 13-11-2017 03:24:50 PM ******/
DROP TABLE IF EXISTS [MONASH\jigyasas].[Bariatric Procedures]
GO
/****** Object:  Table [MONASH\jigyasas].[Bariatric Procedures]    Script Date: 13-11-2017 03:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[MONASH\jigyasas].[Bariatric Procedures]') AND type in (N'U'))
BEGIN
CREATE TABLE [MONASH\jigyasas].[Bariatric Procedures](
	[Pt Id] [float] NULL,
	[Last name] [nvarchar](255) NULL,
	[First name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[Postcode] [nvarchar](255) NULL,
	[DOB] [datetime] NULL,
	[Home ph] [nvarchar](255) NULL,
	[Mobile ph] [nvarchar](255) NULL,
	[Gender] [nvarchar](255) NULL,
	[Medicare no] [nvarchar](255) NULL,
	[Original Procedure date] [nvarchar](255) NULL,
	[Original Procedure] [nvarchar](255) NULL,
	[Hospital (1)_] [nvarchar](255) NULL,
	[Hospital State (1)_] [nvarchar](255) NULL,
	[Medical record no (1)_] [nvarchar](255) NULL,
	[Surgeon (1)_] [nvarchar](255) NULL,
	[Admission Date (1)_] [nvarchar](255) NULL,
	[Discharge Date (1)_] [nvarchar](255) NULL,
	[LOS(1)_] [nvarchar](255) NULL,
	[Procedure date (1)_] [datetime] NULL,
	[Height] [float] NULL,
	[Start Wt] [float] NULL,
	[Start BMI] [float] NULL,
	[Op Wt (1)_] [float] NULL,
	[Op BMI(1)_] [float] NULL,
	[Diabetes Status] [bit] NOT NULL,
	[Diabetes treatment (1)] [nvarchar](255) NULL,
	[Procedure status (1)_] [nvarchar](255) NULL,
	[Procedure (1)_] [nvarchar](255) NULL,
	[Device type (1)_] [nvarchar](255) NULL,
	[Device model (1)_] [nvarchar](255) NULL,
	[Device serial no (1)_] [nvarchar](255) NULL,
	[Device type 2 (1)_] [nvarchar](255) NULL,
	[Device model 2 (1)_] [nvarchar](255) NULL,
	[Device serial no 2 (1)_] [nvarchar](255) NULL,
	[Renal Tx] [bit] NOT NULL,
	[Liver Tx] [bit] NOT NULL,
	[Other info (1)_] [nvarchar](255) NULL,
	[Phoned] [bit] NOT NULL,
	[Ph calls] [nvarchar](255) NULL,
	[Sent Exp Statement] [datetime] NULL,
	[30d due(1)_] [datetime] NULL,
	[30d sent(1)_] [datetime] NULL,
	[30d rec'd(1)_] [bit] NOT NULL,
	[30d f-up date(1)_] [datetime] NULL,
	[30d wt(1)_] [float] NULL,
	[30d BMI(1)] [float] NULL,
	[30d Mort(1)_] [bit] NOT NULL,
	[30d Sentinel(1)_] [nvarchar](255) NULL,
	[30d Cx details(1)_] [nvarchar](255) NULL,
	[12 mo f/up due] [datetime] NULL,
	[Date 12mo f/up sent] [datetime] NULL,
	[12 mo f/up received] [bit] NOT NULL,
	[Date of 12 mo f/up] [datetime] NULL,
	[Weight at 12 mo f/up] [float] NULL,
	[BMI (12 mo)] [float] NULL,
	[Self reported wt (1yr)_] [bit] NOT NULL,
	[Diab Status (12 mo)] [bit] NOT NULL,
	[Diabetes Treatment (12 mo)] [nvarchar](255) NULL,
	[Mortality] [bit] NOT NULL,
	[Date of Mortality] [nvarchar](255) NULL,
	[Mortality details] [nvarchar](255) NULL,
	[Death related to bariatric procedure] [nvarchar](255) NULL,
	[Hospital (2)_] [nvarchar](255) NULL,
	[Hospital State (2)_] [nvarchar](255) NULL,
	[Medical record no (2)_] [nvarchar](255) NULL,
	[Surgeon (2)_] [nvarchar](255) NULL,
	[Admission Date (2)_] [nvarchar](255) NULL,
	[Discharge Date (2)_] [nvarchar](255) NULL,
	[LOS(2)_] [nvarchar](255) NULL,
	[Date Revision/Reversal (2)_] [datetime] NULL,
	[Weight at Revision/Reversal (2)_] [float] NULL,
	[BMI (2)_] [nvarchar](255) NULL,
	[Procedure status (2)_] [nvarchar](255) NULL,
	[Procedure (2)_] [nvarchar](255) NULL,
	[Device type(2)_] [nvarchar](255) NULL,
	[Device model(2)_] [nvarchar](255) NULL,
	[Device serial no (2)_] [nvarchar](255) NULL,
	[Device type 2 (2)_] [nvarchar](255) NULL,
	[Device model 2 (2)_] [nvarchar](255) NULL,
	[Serial no 2 (2)_] [nvarchar](255) NULL,
	[30d due(2)_] [datetime] NULL,
	[30d sent (to Surg)(2)_] [datetime] NULL,
	[30d rec'd(2)_] [bit] NOT NULL,
	[30d f-up date(2)_] [datetime] NULL,
	[30d wt(2)_] [float] NULL,
	[30d BMI(2)_] [nvarchar](255) NULL,
	[30d Mort(2)_] [bit] NOT NULL,
	[30d Sentinel(2)_] [nvarchar](255) NULL,
	[30d Cx details(2)_] [nvarchar](255) NULL,
	[Other info(2)_] [nvarchar](255) NULL,
	[2yr f/up due] [datetime] NULL,
	[Date 2yr f/up sent] [datetime] NULL,
	[2yr f/up received] [bit] NOT NULL,
	[Date of 2yr f/up] [datetime] NULL,
	[Weight at 2yr f/up] [float] NULL,
	[BMI (2yr)] [float] NULL,
	[Self reported wt (2yr)_] [bit] NOT NULL,
	[Diab Status (2yr)] [bit] NOT NULL,
	[Diabetes Treatment (2yr)] [nvarchar](255) NULL,
	[Hospital (3)_] [nvarchar](255) NULL,
	[Hospital State (3)_] [nvarchar](255) NULL,
	[Medical record no (3)_] [nvarchar](255) NULL,
	[Surgeon (3)_] [nvarchar](255) NULL,
	[Admission Date (3)_] [nvarchar](255) NULL,
	[Discharge Date (3)_] [nvarchar](255) NULL,
	[LOS(3)_] [nvarchar](255) NULL,
	[Date Revision/Reversal (3)_] [nvarchar](255) NULL,
	[Weight at Revision/Reversal (3)_] [nvarchar](255) NULL,
	[BMI (3)_] [nvarchar](255) NULL,
	[Procedure status (3)_] [nvarchar](255) NULL,
	[Procedure (3)_] [nvarchar](255) NULL,
	[Device type (3)_] [nvarchar](255) NULL,
	[Device model (3)_] [nvarchar](255) NULL,
	[Serial no (3)_] [nvarchar](255) NULL,
	[Device type 2 (3)_] [nvarchar](255) NULL,
	[Device model 2 (3)_] [nvarchar](255) NULL,
	[Serial no 2 (3)_] [nvarchar](255) NULL,
	[Other info(3)_] [nvarchar](255) NULL,
	[30d due(3)_] [nvarchar](255) NULL,
	[30d sent (to Surg)(3)_] [nvarchar](255) NULL,
	[30d rec'd(3)_] [bit] NOT NULL,
	[30d f-up date(3)_] [nvarchar](255) NULL,
	[30d wt(3)_] [nvarchar](255) NULL,
	[30d BMI(3)_] [nvarchar](255) NULL,
	[30d Mort(3)_] [bit] NOT NULL,
	[30d Sentinel(3)_] [nvarchar](255) NULL,
	[30d Cx details(3)_] [nvarchar](255) NULL,
	[3yr f/up due] [datetime] NULL,
	[Date 3yr f/up sent] [nvarchar](255) NULL,
	[3yr f/up received] [bit] NOT NULL,
	[Date of 3yr f/up] [nvarchar](255) NULL,
	[Weight at 3yr f/up] [nvarchar](255) NULL,
	[BMI (3yr)] [nvarchar](255) NULL,
	[Self reported wt (3yr)_] [bit] NOT NULL,
	[Diab Status (3yr)] [bit] NOT NULL,
	[Diabetes Treatment (3yr)] [nvarchar](255) NULL,
	[Hospital (4)_] [nvarchar](255) NULL,
	[Hospital State (4)_] [nvarchar](255) NULL,
	[Medical record number (4)_] [nvarchar](255) NULL,
	[Surgeon (4)_] [nvarchar](255) NULL,
	[Admission Date (4)_] [nvarchar](255) NULL,
	[Discharge Date (4)_] [nvarchar](255) NULL,
	[LOS(4)_] [nvarchar](255) NULL,
	[Date Revision/Reversal (4)_] [nvarchar](255) NULL,
	[Weight at Revision/Reversal (4)_] [nvarchar](255) NULL,
	[BMI (4)_] [nvarchar](255) NULL,
	[Self reported wt (4yr)_] [bit] NOT NULL,
	[Procedure status (4)_] [nvarchar](255) NULL,
	[Procedure (4)_] [nvarchar](255) NULL,
	[Device type (4)_] [nvarchar](255) NULL,
	[Device model (4)_] [nvarchar](255) NULL,
	[Serial no (4)_] [nvarchar](255) NULL,
	[Device type 2 (4)_] [nvarchar](255) NULL,
	[Device model 2 (4)_] [nvarchar](255) NULL,
	[Serial no 2 (4)_] [nvarchar](255) NULL,
	[Other info(4)_] [nvarchar](255) NULL,
	[30d due(4)_] [nvarchar](255) NULL,
	[30d sent (to Surg)(4)_] [nvarchar](255) NULL,
	[30d rec'd(4)_] [bit] NOT NULL,
	[30d f-up date(4)_] [nvarchar](255) NULL,
	[30d wt(4)_] [nvarchar](255) NULL,
	[30d BMI(4)_] [nvarchar](255) NULL,
	[30d Mort(4)_] [bit] NOT NULL,
	[30d Sentinel(4)_] [nvarchar](255) NULL,
	[30d Cx details(4)_] [nvarchar](255) NULL,
	[Hospital (5)_] [nvarchar](255) NULL,
	[Hospital State (5)_] [nvarchar](255) NULL,
	[Medical record number (5)_] [nvarchar](255) NULL,
	[Surgeon (5)_] [nvarchar](255) NULL,
	[Admission Date (5)_] [nvarchar](255) NULL,
	[Discharge Date (5)_] [nvarchar](255) NULL,
	[LOS(5)_] [nvarchar](255) NULL,
	[Date Revision/Reversal (5)_] [nvarchar](255) NULL,
	[Weight at Revision/Reversal (5)_] [nvarchar](255) NULL,
	[BMI (5)_] [nvarchar](255) NULL,
	[Self reported wt (5yr)_] [bit] NOT NULL,
	[Procedure status (5)_] [nvarchar](255) NULL,
	[Procedure (5)_] [nvarchar](255) NULL,
	[Device type (5)_] [nvarchar](255) NULL,
	[Device model (5)_] [nvarchar](255) NULL,
	[Serial no (5)_] [nvarchar](255) NULL,
	[Device type 2 (5)_] [nvarchar](255) NULL,
	[Device model 2 (5)_] [nvarchar](255) NULL,
	[Serial no 2 (5)_] [nvarchar](255) NULL,
	[Other info(5)_] [nvarchar](255) NULL,
	[30d due(5)_] [nvarchar](255) NULL,
	[30d sent (to Surg)(5)_] [nvarchar](255) NULL,
	[30d rec'd(5)_] [bit] NOT NULL,
	[30d f-up date(5)_] [nvarchar](255) NULL,
	[30d wt(5)_] [nvarchar](255) NULL,
	[30d BMI(5)_] [nvarchar](255) NULL,
	[30d Mort(5)_] [bit] NOT NULL,
	[30d Sentinel(5)_] [nvarchar](255) NULL,
	[30d Cx details(5)_] [nvarchar](255) NULL,
	[LTFU] [bit] NOT NULL,
	[Date LTFU] [nvarchar](255) NULL,
	[Letter returned] [bit] NOT NULL,
	[YR1 Reop Reason] [nvarchar](255) NULL,
	[YR2 Reop Reason] [nvarchar](255) NULL,
	[Hospital_ID_1] [int] NULL,
	[Hospital_ID_2] [int] NULL,
	[Hospital_ID_3] [int] NULL,
	[Hospital_ID_4] [int] NULL,
	[Hospital_ID_5] [int] NULL,
	[Surgeon_ID_1] [int] NULL,
	[Surgeon_ID_2] [int] NULL,
	[Surgeon_ID_3] [int] NULL,
	[Surgeon_ID_4] [int] NULL,
	[Surgeon_ID_5] [int] NULL
) ON [PRIMARY]
END
GO
