<?xml version="1.0"?>
<configuration>
  <location path="BenchmarkingReport.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ConsentReportList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RevisionSurgerySummaryReport.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SurgeonReport.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
