<?xml version="1.0"?>
<configuration>
    <location path="ExplanatoryStatementWorkList.aspx">
      <system.web>
        <authorization>
          <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
          <deny users="*" />
        </authorization>
      </system.web> 
    </location>
  <location path="FollowUp.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,DATACOLLECTOR,ADMINCENTRAL,SURGEON" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FollowUpWorkList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageDevice.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ManagePatients.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BulkLoadPatients.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="MissingDataWorkList.aspx">
        <system.web>
            <authorization>
                <allow  roles="ADMINREGISTRY,ADMINCENTRAL,SURGEON,DATACOLLECTOR"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
      <location path="PatientCallScreen.aspx">
        <system.web>
            <authorization>
                <allow  roles="ADMINREGISTRY,ADMINCENTRAL"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
  <location path="OperationDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,DATACOLLECTOR,ADMINCENTRAL,SURGEON"/> 
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PasswordConfirmation.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,DATACOLLECTOR,ADMINCENTRAL,SURGEON"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Patient.aspx">
    <system.web>
      <authorization>
        <allow  roles="ADMINREGISTRY,DATACOLLECTOR,ADMINCENTRAL,SURGEON"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="PatientDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,DATACOLLECTOR,ADMINCENTRAL,SURGEON"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientDeviceSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
 
  <location path="PatientLTFUList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientOptOffList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientUnknownDeviceList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupAddBrand.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupAddDevice.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupAddDeviceOperations.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL,DATACOLLECTOR,SURGEON"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupAddManufacturer.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupAddUnknownDevice.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupMergePatient.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupOptOffPatient.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="popupShowURN.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY,ADMINCENTRAL"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SurgeonDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="SURGEON, DATACOLLECTOR"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AddFavDevice.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL, SURGEON, DATACOLLECTOR"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DeviceFavourite.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL, SURGEON, DATACOLLECTOR"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
