<?xml version="1.0"?>
<configuration>
    <location path="CreateAccount.aspx">
        <system.web>
            <authorization>
                <allow roles="ADMINREGISTRY,ADMINCENTRAL" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Site.aspx">
        <system.web>
            <authorization>
                <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
  <location path="ManageSite.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="UserList.aspx">
        <system.web>
            <authorization>
              <allow roles="ADMINREGISTRY, ADMINCENTRAL" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
  <location path="HealthMonitoring.aspx">
    <system.web>
      <authorization>
        <allow roles="SYSADMIN, ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebsiteVisitorList.aspx">
    <system.web>
      <authorization>
        <allow roles="SYSADMIN, ADMINREGISTRY, ADMINCENTRAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


</configuration>
