<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="PROJECT_NAME" value="Bariatric Surgery Registry (BSR)"/>
    <add key="PROJECT_SHORT_NAME" value="BSR"/>
    <add key="PROJECT_URL" value="https://staging.cidmu.org.au/BSR/"/>
    <add key="ACCOUNT_REQUEST_EMAIL" value="cidmu.services@monash.edu"/>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="SingleSessionEnforcement" value="true" />
    <add key="CaptchaEnforcement" value="false" />
    <add key="PASSOWRD_EXPIRY_DAYS" value="180"/>
    <add key="PASSWORD_RESET_FIRST_LOGIN" value="1"/>
    <add key="SECURITYQUESTION_RESET_FIRST_LOGIN" value="1"/>
    <add key="RECOVERY" value="cidmu"/>
    <add key="RECOVERY_EMAIL" value="cidmu.services@monash.edu"/>
    <add key="EMAIL_PROJECT" value="cidmu.services@monash.edu"/>
    <add key="HELP_ROOT_PATH" value="Views/Help/"/>
    <add key="HELP_IMAGE_URL" value="~/Images/help-icon-24.png"/>
    <add key="LoginLockoutTimeForSession" value="15"/>
    <add key="SENDMAIL" value="true"/>
    <add key="MONASH_LOGO_PATH" value ="C:\\Projects\\BSR\\Development\\01-Code\\App.UI.Web\\Images\\monash_logo_sml.png"/>
    <add key="LTFU_EMAIL" value="cidmu.services@monash.edu"/>
    <add key="MAX_BULK_LOAD_FILE_SIZE" value="10000000" />

  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="ApplicationServices" connectionString="Data Source=FC31-DBDEVCRTI1;Initial Catalog=MNHS-Registry-BSR-Staging;User ID=app_user_bsr;Password=Bsrl0g1n4rfc31#" providerName="System.Data.SqlClient" />
    <add name="BusinessEntities" connectionString="metadata=res://*/BusinessEntities.csdl|res://*/BusinessEntities.ssdl|res://*/BusinessEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FC31-DBDEVCRTI1;initial catalog=MNHS-Registry-BSR-Staging;persist security info=True;user id=app_user_bsr;password=Bsrl0g1n4rfc31#;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Views/Shared/Error.aspx" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Views/Home/Login.aspx" timeout="20" requireSSL="true" xdt:Transform="Replace"/>
    </authentication>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="med-bsr@monash.edu">
        <network host="smtp.monash.edu.au" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>