<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="LoginSite.master.cs" Inherits="App.UI.Web.Views.Shared.LoginSite" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <title></title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form2" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnablePageMethods="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/jquery-1.8.2.min.js" />
                <asp:ScriptReference Path="~/Scripts/knockout-2.1.0.js" />
                <asp:ScriptReference Path="~/Scripts/app.js?v=1" />
                <asp:ScriptReference Assembly="CDMSValidationLogic" Name="CDMSValidationLogic.Validator.js" />
            </Scripts>
        </telerik:RadScriptManager>

        <telerik:RadCodeBlock ID="RadCodeBlock1" runat="server">
            <script type="text/javascript">
                function saveTimezoneOffset() {
                    var offset = new Date().getTimezoneOffset();
                    var ctrlHidden = document.getElementById("<%=TimezoneOffsetControl.ClientID %>");
                    ctrlHidden.value = offset;
                }

                var IsPasswordAuthenticated = false;
                var ButtonId;
                function OnPasswordClose(obj) {
                    m_RetVal = obj.Argument;
                    if (m_RetVal == '1') {
                        IsPasswordAuthenticated = true;
                        //Trigger excel click event
                        document.getElementById(ButtonId.id).click();
                    }
                    else if (m_RetVal == '-2' || m_RetVal == "-3") {
                        window.location.reload();
                    }
                    else
                        IsPasswordAuthenticated = false;
                }

                function ConfirmDownload(id, FormName) {
                    ButtonId = id;
                    if (!IsPasswordAuthenticated) {
                        var m_Ret = confirm('Are you sure you want to download the data? \r\n  \r\nNote: Data downloaded from this application is also removing it from the protected, secure environment. \r\nOnce removed, you also acknowledge that you are responsible for the handling of this data and that you will comply to the Privacy Act (1988) and Health Records Act (2010).')
                        if (m_Ret == true) {
                            var oWnd = window.radopen(null, null);
                            oWnd.Argument = null;
                            oWnd.set_width(400);
                            oWnd.set_height(200);
                            oWnd.set_behaviors(Telerik.Web.UI.WindowBehaviors.Resize + Telerik.Web.UI.WindowBehaviors.Close + Telerik.Web.UI.WindowBehaviors.Move);
                            oWnd.set_visibleStatusbar(false);
                            oWnd.set_modal(true);
                            oWnd.add_close(OnPasswordClose);
                            var m_URL = '../Forms/PasswordConfirmation.aspx?Timestamp=' + new Date().getMilliseconds() + "&FormName=" + FormName;
                            oWnd.setUrl(m_URL);
                        }
                        else {
                            IsPasswordAuthenticated = false;
                        }

                        return false;
                    }
                    else {
                        IsPasswordAuthenticated = false;
                        return true;
                    }
                }
            </script>
        </telerik:RadCodeBlock>

        <telerik:RadWindowManager ID="RadWindowManager1" runat="server" EnableShadow="true"
            Style="z-index: 7001;">
        </telerik:RadWindowManager>
        <asp:HiddenField ID="TimezoneOffsetControl" runat="server" Value="0" OnValueChanged="TimezoneOffsetControl_ValueChanged" />

        <div class="pageContainer">
            <div class="headerOuter">
                <asp:ContentPlaceHolder ID="Login" runat="server">
                    <div class="loginDisplay">
                        <asp:LoginView ID="LoginView" runat="server" EnableViewState="false">
                            <AnonymousTemplate>
                                [ <a href="~/Views/Home/Login.aspx" id="LoginStatus" runat="server">Log In</a> ]
                            </AnonymousTemplate>
                            <LoggedInTemplate>
                                <table border="0" width="100%">
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>[ <a href="~/Views/Home/Login.aspx" id="LoginStatus" runat="server">Log In</a> ] </td>
                                    </tr>
                                </table>
                            </LoggedInTemplate>
                        </asp:LoginView>
                    </div>
                </asp:ContentPlaceHolder>
            </div>
            <div class="page">
                <asp:ContentPlaceHolder ID="Banner" runat="server">
                    <div class="header">
                        <div class="siteBanner">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>&nbsp;</td>
                                    <td align="left">
                                        <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/Monash Logo.jpg" />
                                    </td>
                                    <td style="text-align: right; width: 30%;">
                                        <asp:Label ID="WarningLabel" runat="server" Text="<center>(Test Site only)</center><br/> <center>Please DO NOT enter live data.</center>" Font-Bold="true" ForeColor="Red" />
                                        <asp:Label ID="WarningLabel2" runat="server" Font-Bold="true" ForeColor="Red" />
                                    </td>
                                    <td style="text-align: right; width: 30%;">
                                        <asp:Image ID="Image2" runat="server" ImageUrl="~/Images/BSR_Logo_New.png" Height="105px" Width="212px" />
                                    </td>
                                    <td>&nbsp;</td>

                                </tr>
                            </table>
                        </div>
                        <div class="siteTitle">
                            <asp:Label ID="SiteTitle" runat="server" Text="Site Title"></asp:Label>
                        </div>
                        <div class="siteMenu">
                            <asp:LoginView ID="LoginView3" runat="server">
                                <LoggedInTemplate>
                                </LoggedInTemplate>
                            </asp:LoginView>
                        </div>
                        <div class="clear hideSkiplink">
                        </div>
                    </div>
                </asp:ContentPlaceHolder>
                <div class="main">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                </div>
                <div class="footerInner">
                </div>
                <div class="clear">
                </div>
            </div>

            <div class="footer">
                Copyright &copy; 2014, Clinical Informatics and Data Management Unit (CIDMU), 
                <a href="http://www.monash.edu.au/" target="_blank">Monash University</a> ABN 12
            377 614 012
            <br />
                <a href="http://www.monash.edu.au/legals/" target="_blank">Caution</a> &ndash; 
                <a href="http://www.monash.edu.au/legals/privacy.html" target="_blank">Privacy</a>
                <br />
                <asp:Label ID="VersionLabel" runat="server" AssociatedControlID="VersionLabel" Text="Version "></asp:Label>
            </div>
        </div>
    </form>
</body>
</html>
