<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Popup.Master.cs" Inherits="App.UI.Web.Views.Shared.Popup" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" ID="head">
    <link rel="stylesheet" type="text/css" href="../../Styles/Site.css" media="screen"  />
    <script type="text/javascript" src="../../Scripts/jquery-1.7.2.min.js"></script>
</head>

<body class="popupBody" >
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnablePageMethods="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/jquery-1.7.2.min.js" />
                <asp:ScriptReference Path="~/Scripts/app.js" />
            </Scripts>
        </telerik:RadScriptManager>

        <telerik:RadCodeBlock ID="RadCodeBlock1" runat="server">
            <script type="text/javascript">
                function saveTimezoneOffset() {
                    var offset = new Date().getTimezoneOffset();
                    var timezonePopupControl = document.getElementById("<%=TimezoneOffsetPopupControl.ClientID %>");
                    timezonePopupControl.value = offset;
                }
            </script>
        </telerik:RadCodeBlock>

        <asp:HiddenField ID="TimezoneOffsetPopupControl" runat="server"  Value="0" onvaluechanged="TimezoneOffsetPopupControl_ValueChanged" />
            
        <asp:contentplaceholder id="MainContent" runat="server" >
        </asp:contentplaceholder>
    </form>
</body>
</html>
